<!-- Main navigation bar with custom styling and responsive behavior -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Brand link: takes the user back to the home page -->
    <a class="navbar-brand" href="/">Client Management</a>

    <!-- Toggler button for mobile viewports: controls the collapse of navigation links -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Link to the Clients page -->
        <li class="nav-item">
          <a class="nav-link" href="/">Clients</a>
        </li>

        <!-- Link to the Contacts page -->
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
